.benefits{
    margin-bottom: 6rem;
}
.ul {
    padding-left: 0;
    max-width: 800px;
    list-style: none;
}

.ul li {
    margin-bottom: 1rem;
    line-height: 1.5;
    display: flex;
}
.ul-benefits li::before {
 content: '\002B';
 font-weight: bold;
 color: #ff8c00;
 display: block;
 padding-right: 0.5rem;
}