.Header_Hero {
    color: white;
    position: relative;
}

.hero_header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.hero_header {
    background-size: cover;
    height: 900px;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 7rem;
    padding: 2rem;
}

.hero_header__content {
    z-index: 100;
    position: relative;
    text-align: center;
}

.hero_header__main {
    font-size: 3.5rem;
}

.hero_header__sub {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero_header__text {
    padding: 0 10%;
    font-size:1.2rem
}

@media(max-width:992px) {
    .hero_header__text {
        padding: 0 1.5rem;
    }
}

@media(max-width:576px) {
    .hero_header__text {
        padding: 0;

    }
}