.job_offer_list {
    margin-bottom: 7rem;
}

.job_offer_list__single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: ease 0.2s;
    background-color: #FFFFFF;
}

.job_offer_list__single:hover .job_offer_list__single__button {
    color: #ff8c00;
    border: 2px solid #ff8c00;
}

.job_offer_list__single:hover .job_offer_list__single__title {
    color: #ff8c00;
}

.job_offer_list__single:nth-child(2n) {
    background-color: #f6f6f6;
    z-index: 999;
}

.job_offer_list__single__title {
    font-weight: bold;
    padding: 1rem;
    color: #2a2c2c;
    transition: ease 0.2s;
}

.job_offer_list__single__date {
    padding: 1rem;
    color: #2a2c2c;
}

.job_offer_list__single__entry,
.job_offer_list a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}